/* style.css */
.imagem-cabecalho {
  width: 600px; /* Largura da imagem */
  height: 300px; /* Altura da imagem */
  border: 2px solid hsl(249, 90%, 24%); /* Borda preta com 2px de largura */
  border-radius: 50%; /* Borda arredondada para criar um círculo */
  background-color: #eee; /* Cor de fundo do círculo */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(309, 52%, 75%);
    }
   
    h1 { 
      background-color: #080a7d;
      color: aqua;
    }
  
  .calculator {
    border: 2px solid hsl(0, 77%, 57%);
    width: 600px;
    text-align: center;
    padding: 10px;
  }
 
  .number {
    background-color: #ef23d0; /* Cor de fundo azul */
    color: hsl(108, 94%, 49%); /* Cor do texto branca */
  }
  
  #display {
    width: 100%;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  